{
    "branches": [
        "main"
    ],
    "tagFormat":"fuel_v_${version}",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "semantic-release-export-data"  
    ]
}